.product-info-add-inventory{
    height: fit-content;
  width: 800px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color:#000;
}

.title-add{
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.product-container-add-inventory{
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 255, 255, 0);
    margin-bottom: 30px;
}

.label-product-inventory{
    color:#000;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px;
}

input, select{
    background-color: #fff;
    color: #03055e;
    border-radius: 5px;
    height: 50px;
    width: 400px;
}

.button-add-inventory {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #0000ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

