.product-info{
    display:flex;
    justify-content: space-evenly;
    background-color: #03055e;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.product-container{
    background-color: rgba(240, 255, 255, 0);
}

.label-product{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 10px;
}

input{
    background-color: #fff;
    color: #03055e;
    border-radius: 5px;
}
