.record-search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .label-inventory {
    color: #000;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
  
  .search-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

.search-buttons{
    grid-area: 4/2/5/3;
    display: flex;
    justify-content: space-evenly;
}

.button-search{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #0000ff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-search:hover {
  background-color: #03045E;
  color: #fff;
}

  .fas{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    color: #000;
  }
  
  .search-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #fffdfd;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #ffffff;
    color : #000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding-right: 30px; /* Espacio para el ícono */
  }
  
  .record-display {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow-y: auto;
    width: 800px;
    max-height: 300px;
    text-align: center;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 50px;
  }

 .label-search-record{
  margin-bottom: 30px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
 }

 .record-display-headers{
  color: #000;
 }

 .record-patient-name{
  color: #000;
  font-weight: bold;
  border-bottom: solid;
  padding-bottom: 10px;
  margin: 0;
 }

 .record-row {
  padding: 10px;
  display: flex;
  height: fit-content;
  flex-direction: row;
  align-items: center;
  border-color: #7d7777;
  border-bottom-style: solid;
  color: #000;
 }

 .record-number{
  width: 30%;
  text-align: left;
 }

 .record-disease{
  width: 50%;
 }

 .arrow-img {
  width: 4%;
  height: 4%;
  margin-left: auto;
  cursor: pointer;
 }
