.person-record-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #000;
}

.product-container{
    background-color: rgba(240, 255, 255, 0);
}

.label-person{
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding: 10px;
    align-self: flex-start;
}

.person-input{
    background-color: #fff;
    color: #03055e;
    border-radius: 5px;
    width: 100%;
}

.person-record-title{
    font-size: 20px;
    font-weight: bold;
}

.person-record-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.person-input {
    padding-left: 10px;
}

.person-record-medicines-list {
    flex-direction: column;
    display: flex;
    align-items: start;
}

.person-record-doctor{
    align-self: flex-start;
    padding-left: 10px;
}

.person-record-back{
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
    margin-right: 10px;
}

.person-go-back-container{
    display: flex;
    align-items: center;
    align-self: flex-start;
    cursor: pointer;
}

.person-record-area{
    background-color: #fff;
    color: #03055e;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    padding: 10px;
    color-scheme: light dark;
    border-width: 2px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.person-record-address{
    align-self: flex-start;
    padding-left: 10px;
    margin-top: 0;
}

.person-record-hu{
    align-self: flex-start;
    padding-left: 10px;
    margin-bottom: 0;
}

.person-record-dropdown-container{
    width: 500px;
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.person-record-buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#person-record-update{
    background-color: #03055e;
}

#person-record-checkout{
    background-color: #21af6a;
}

